body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: white;
    line-height: 1.6;
}
h1, h2, h3, h4 {
    color:#306024 !important;
    font-weight: bold;
}

.btn.custom-btn {
    /*Painikkeen isonnus*/
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.btn {
    background-color: #426B1F;
    color: white;
    border: 1px solid #306024;
    border-radius: 15px; /* Lisää hieman pyöristetyt kulmat */
}
.btn:hover {
    /* Taustaväri, kun kursori menee painikkeen päälle */
    background-color: #306024;
}
.site-title {
    margin-left: 80px;
}

.navbar {
    background-color: #d7e3ce;
    text-align: center !important; /* Varmistaa tekstin keskittämisen */
    margin-bottom: 50px; /* Lisää tilaa MA-PE ja LA välille */
    
}
.navbar-brand {
    padding-top: 40px;
    padding-left: 100px;    
}
.navbar-nav {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly; /* Jakaa linkit tasaisesti koko vaakasuunnassa */
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-link {
    font-size: 24px;
    font-weight: 500;
}
.nav-link:hover {
    color: #000901; /* Vaihtaa väriä hover-tilassa */
    text-decoration: underline; /* Llisää alleviivauksen hover-tilassa */
}

.form-control {
    height: 50px;
    background-color: #fcfffa;
    font-size: 16px;
    border: 1px solid #306024; /* Lisää vihreän reunuksen */
    border-radius: 15px;
    padding: 10px; 
}

.col-12 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

.content-box {
    border: 1px solid #306024;
    border-radius: 15px;
    background-color: #fcfffa;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.text {
    font-size: 24px;
}
.content {
    padding: 20px 0;
}


.carousel .card {
    border: none; /* Poistaa korttien reunaviivat */
}
.carousel .card-img-top {
    height: 300px; /* Rajaa kuvien korkeuden */
    object-fit: cover; /* Säilyttää kuvan mittasuhteet */
}
.carousel-control-prev-icon {
    width: 80px;
    height: 30px;
    margin-right: 250px;
}
.carousel-control-next-icon {
    width: 80px;
    height: 30px;
    margin-left: 250px;
}
.carousel-control-prev-icon.bg-dark,
.carousel-control-next-icon.bg-dark {
    opacity: 0.8; /* Lisää hieman läpinäkyvyyttä nuoliin */
    width: 80px;
    height: 30px;
}


footer {
    font-size: 20px; 
    background-image: url('footerkuva.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.footer-column {
    margin-top: 400px;
}


/* Mobiilinäkymä*/
@media (max-width: 576px) {
    .carousel-inner {
        display: block;
    }
    .carousel-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav-link {
        font-size: 16px;
    }
    
    .carousel .card-img-top {
        height: 100px;
        object-fit: cover;
    }
    footer .row {
        flex-direction: column;
        text-align: center;
    }

}
    @media (max-width: 768px) {
        /* Rajoittaa kortin leveyttä ja korkeutta mobiilissa*/
        .carousel .card {
            max-width: 200px;
            max-height: 250px; 
            margin: 10px auto;
        }
        .carousel .card img {
            max-width: 100%;
            height: auto;
            object-fit: cover; /* Leikkaa kuvan sopivaksi */
        }

    }


